#
# Configuration file for an instrument
#
[TEMPLATE]

bias_min_nframes = 7
flat_min_nframes = 6
dome_min_nframes = 3
twiflat_min_nframes = 1
dark_min_nframes = 3
minoscanpix = 75
oscanbuf = 20

# interactive = 1
plot_pause = 1
saveintims = False
inter = 1
clobber = False
verbose = 1



